CompileFlags:
  Add:
    # - -xc++
    # - -std=c++17
    # - -Xcompiler
    - --cuda-path=/opt/cuda/
    - --cuda-gpu-arch=sm_61
    - -I/opt/cuda/targets/x86_64-linux/include
    - -L/opt/cuda/targets/x86_64-linux/lib
    - lcuda
